@import "../lib/bootstrap/_bootstrap.scss";
@import "../lib/angular-loading-bar/loading-bar.scss";

.jumbotron{
    text-align: center;
    margin-top: 5%;
    padding: 15px 15px 30px 15px;
}
.table{
    margin: 20px 0 0 0;
    thead {
        tr {
            th {
                color: white;
                background-color: black;
                a{
                    color: white;
                }
            }
        }
    }
}
.form-control{
    margin: 0 0 10px 0;
}
.selected td{
    background-color: #fcf8e3;
}
#footer{
    padding: 0 0 30px;
}
#loading-bar{
    .bar {
        height: 8px;
        background-color: #337ab7;
    }
}