.jumbotron{
    text-align: center;
    margin-top: 5%;
    padding: 15px 15px 30px 15px;
}
.table{
    margin: 20px 0 0 0;
}
.table thead tr th{
    color: white;
    background-color: black;
}
.table thead tr th a{
    color: white;
}
.form-control{
    margin: 0 0 10px 0;
}
.selected td{
    background-color: #fcf8e3;
}